.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  box-sizing: border-box;
}

.modal_opened {
  visibility: visible;
}

.modal_opened page__content {
  opacity: 50%;
}

.modal__content {
  background-color: white;
  position: relative;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  padding-right: 36px;
  padding-left: 36px;
  padding-bottom: 28px;
  border-radius: 16px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__title {
  font-family: "Roboto-heavy", sans serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  margin-top: 34px;
  margin-bottom: 22px;
}

.modal__close {
  background-image: url("../../assets/close.svg");
  height: 40px;
  width: 40px;
  top: 20px;
  right: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -46px;
  right: -46px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  width: 100%;
  gap: 31px;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 8px;
}

.modal__submit {
  width: 360px;
  height: 64px;
  font-family: "Roboto-medium", sans serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  color: rgba(182, 188, 191, 1);
  background-color: rgba(230, 232, 235, 1);
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__submit--active {
  background-color: rgba(47, 113, 229, 1);
  color: rgba(255, 255, 255, 1);
}

.modal__button {
  display: flex;
  align-items: center;
  height: 20px;
}

.modal__text-or {
  font-family: "inter-regular", sans serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  color: rgba(26, 27, 34, 1);
}

.modal__button-option {
  font-family: "inter-regular", sans serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: rgba(47, 113, 229, 1);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__label {
  font-family: "inter-regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: rgba(47, 113, 229, 1);
}

.modal__input {
  font-family: "inter-regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);

  padding: 0;
  width: 100%;
  outline: none;
  margin-top: 9px;
}

.modal__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (max-width: 620px) {
  .modal__content {
    max-width: 320px;
    padding-bottom: 200px;
    position: absolute;
    top: 56px;
  }

  .modal__title {
    margin-top: 16px;
    padding-left: 1px;
    margin-bottom: 18px;
  }

  .modal__close {
    width: 24px;
    height: 24px;
    top: -40px;
    right: 16px;
  }

  .modal__form {
    gap: 30px;
  }

  .modal__buttons {
    margin-top: 9px;
  }

  .modal__submit {
    width: 288px;
    height: 64px;
  }
}
