.search__page {
  background-image: url(../../assets/background_image.jfif);
  margin: 0;
  padding: 0;
  max-height: 576px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.search__page__heading {
  font-family: "Roboto-slab-regular", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  width: calc(100% - 832px);
  margin: 80px 416px 32px;
}

.search__page__note {
  font-family: "Roboto-medium", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin: 0px auto 88px;
  max-width: 608px;
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .search__page__heading {
    font-size: 36px;
    line-height: 40px;
    width: calc(100% - 383px);
    margin: 38px 220px 16px 163px;
  }

  .search__page__note {
    width: calc(100% - 316px);
    margin: 0px 156px 48px 160px;
  }
}

@media screen and (max-width: 767px) {
  .search__page__heading {
    font-size: 36px;
    line-height: 40px;
    width: calc(100% - 35px);
    margin: 30px 16px 16px 19px;
  }

  .search__page__note {
    width: calc(100% - 32px);
    margin: 0px 16px 122px 16px;
  }
}
