.saved__articles-main {
  padding: 40px 806px 56px 104px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}

.saved__header {
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
}

.saved__content {
  font-family: "Roboto-slab-regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  width: 530px;
  color: rgba(26, 27, 34, 1);
  margin: 0 0 2px;
}

.saved__keyword-heading {
  font-family: "Roboto-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  width: 712px;
  margin: 0;
}

.saved__keywords {
  font-family: "Roboto-bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
}
